/logs
/devel
/build
.vscode
.catkin_tools
src.zip
src/kinova_urc_arm
src/kortex_api
src/kortex_control

src/kortex_examples
src/kortex_driver
src/kortex_description
src/kortex_gazebo
src/kortex_move_it_config
src/ros_kortex_vision

src/third_party
src/Keyboard_key_detection-Task_5_1

yolov8n-obb.pt
yolov8n-seg.pt
